td.details-control {
    background: url('images/open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('images/close.png') no-repeat center center;
}

.user-profile img {
	width:40px;
	height:40px;
	border-radius:50%;
	margin-top: 5px;
}

.user-profile {
	color: black;	
}

hr {
	height: 5px;
	background-color: #333;
}