td.details-control {
    background: url('images/open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('images/close.png') no-repeat center center;
}

.user-profile img {
	width:40px;
	height:40px;
	border-radius:50%;
	margin-top: 5px;
}

.user-profile {
	color: black;
}

hr {
	height: 5px;
	background-color: #333;
}

td.details-control {
    background: url('images/open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('images/close.png') no-repeat center center;
}

.dropdown {
	margin-left: -15px;
}

.user-profile img {
	width:40px;
	height:40px;
	border-radius:50%;
	margin-top: 5px;
}

.user-profile {
	color: black;
}

.inlineTable {
  display: inline-block;
}

span[class*="glyphicon"] {
  margin-top: -.4em;
  margin-bottom: 0em;
}

.glyphicon-red-dot:before {
  content: "\25cf";
  font-size: 2em;
  color: red;
}

.glyphicon-green-dot:before {
  content: "\25cf";
  font-size: 2em;
  color: green;
}

.glyphicon-yellow-dot:before {
  content: "\25cf";
  font-size: 2em;
  color: yellow;
}

.glyphicon-blue-dot:before {
  content: "\25cf";
  font-size: 2em;
  color: blue;
}

.glyphicon-full-dot:before {
  content: "\25cf";
  font-size: 2em;
}

.glyphicon-empty-dot:before {
  content: "\25cb";
  font-size: 2em;
}

.glyphicon-remove {
	color: red;
}